absl-py==0.8.1
anndata==0.6.22.post1
annoy==1.16.0
appnope==0.1.0
astor==0.8.0
attrs==19.1.0
backcall==0.1.0
bleach==3.3.0
CacheControl==0.12.5
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
coverage==4.5.4
cycler==0.10.0
Cython==0.29.14
decorator==4.4.0
defusedxml==0.6.0
docopt==0.6.2
entrypoints==0.3
fbpca==1.0
future==0.17.1
gast==0.2.2
goatools==0.9.9
google-auth==1.6.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.7
grpcio==1.24.3
h5py==2.9.0
hdmedians==0.13
hyperopt==0.1.2
idna==2.8
importlib-metadata==0.19
ipykernel==5.1.2
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.14.1
Jinja2==2.10.1
joblib==0.13.2
jsonschema==3.0.2
kiwisolver==1.1.0
kopt==0.1.0
leidenalg==0.7.0
llvmlite==0.29.0
lockfile==0.12.2
loompy==2.0.17
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mistune==0.8.4
mock==3.0.5
more-itertools==8.0.0
msgpack==0.6.2
natsort==6.0.0
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.3
nose==1.3.7
notebook==6.0.0
numba==0.45.0
numexpr==2.6.9
numpy==1.17.0
oauthlib==3.1.0
opt-einsum==3.1.0
packaging==19.2
pandas==0.25.0
pandocfilters==1.4.2
parso==0.5.1
patsy==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.10.0
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pydot==1.4.1
Pygments==2.4.2
pymongo==3.8.0
pyparsing==2.4.2
pyrsistent==0.15.4
pytest==5.3.1
pytest-cov==2.8.1
python-dateutil==2.8.0
python-igraph==0.7.1.post6
pytz==2019.2
PyYAML==5.2
pyzmq==18.1.0
qtconsole==4.5.2
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
scanpy==1.4.4.post1
scikit-bio==0.5.5
scikit-learn==0.19.2
scipy==1.3.1
scvi==0.4.1
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
statsmodels==0.10.1
tables==3.5.2
tb-nightly==1.14.0a20190301
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tf-estimator-nightly==1.14.0.dev2019030115
torch==1.2.0
tornado==6.0.3
tqdm==4.33.0
traitlets==4.3.2
umap-learn==0.3.9
urllib3==1.25.6
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.2.6
zipp==0.5.2
